.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: 264px;
  height: 251.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  border-radius: 100px;
}

.name_title, .paragraph {
  font-family: 'JetBrains Mono', monospace;
  font-style: normal;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.name_title {
  width: 188px;
  height: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.paragraph {
  width: 750px;
  height: 250px;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #000000;
  margin-top: 2%;
}

.logos {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gh-logo, .lin-logo, .tw-logo {
  margin-right: 20px;
}

.gh-logo {
  width: 35px;
}

.lin-logo {
  width: 34px;
}

.tw-logo {
  width: 38px;
}

.scholar-logo {
  zoom: 0.75;
}

@media screen and (max-width: 768px) {
  .name_title, .paragraph {
    width: 90%;
  }
  
  .paragraph {
    height: auto;
  }
}
