.paragraph {
  /* font-size: 19px; */
  line-height: 25px;
  color: #000000;
  margin-left: 1%; 
}

.name_title {
  width: 1200px;
  margin-left: 1%; 
  font-size: 19px; 
}

.gh-logo, .lin-logo, .tw-logo {
  margin-right: 20px;
}

.writing-logo {
  width: 37px;
}

.gh-logo {
  width: 37px;
}

.lin-logo {
  width: 34px;
}

.tw-logo {
  width: 38px;
}

.scholar-logo {
  zoom: 0.75;
}

@media screen and (max-width: 768px) {
  .name_title, .paragraph {
    width: 90%;
  }
  
  .paragraph {
    height: auto;
  }
}
